REOWN_PROJECT_ID=2e22c4526b8ea0452b30e9e1e4db183a
NEXT_PUBLIC_REOWN_PROJECT_ID=2e22c4526b8ea0452b30e9e1e4db183a
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

NEXT_PUBLIC_SPL_TOKEN_PROGRAM=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
NEXT_PUBLIC_ASSOCIATED_TOKEN_PROGRAM=ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL

NEXT_PUBLIC_ORCA_WHIRLPOOL_PROGRAM=whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc
NEXT_PUBLIC_ORCA_WHIRLPOOL_CONFIG=FcrweFY1G9HJAHG5inkGB6pKg1HZ6x9UC2WioAfWrGkR
NEXT_PUBLIC_ORCA_CONFIG_EXTENSION=475EJ7JqnRpVLoFVzp2ruEYvWWMCf6Z8KMWRujtXXNSU
NEXT_PUBLIC_ORCA_FEE_TIER_1=CtfHwxDmdYtoWyeSyh3NUWk43FnehVhhtwuYdWwZcVyt
NEXT_PUBLIC_RAYDIUM_CLMM_PROGRAM=DRayAUgENGQBKVaX8owNhgzkEDyoHTGVEGHVJT1E9pfH

NEXT_PUBLIC_REFERENCE_USDC_DEVNET=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_REFERENCE_PYUSD_DEVNET=CXk2AMBfi3TwaEL2468s6zP8xq9NxTXjp9gjMgzeUynM

NEXT_PUBLIC_X_URL=
NEXT_PUBLIC_CA=GRG9CqaYABVi2Z67CBFbkq9vHC8VJ2CtvCtmqs3woHqE
NEXT_PUBLIC_DEPLOYER=DCYGieAFCYNvmNRDj3Aoi4qTpZAVC4RsKbGUqDn4RJdp
DEPLOYER_KEYPAIR_PATH=keys/deployer.json

NEXT_PUBLIC_KUROSHIO_PROGRAM_ID=GRG9CqaYABVi2Z67CBFbkq9vHC8VJ2CtvCtmqs3woHqE
# Whole book tokens minted for 1 SOL. The program uses the same rate.
NEXT_PUBLIC_TOKENS_PER_SOL=100
NEXT_PUBLIC_MINT_KUSDC=AogEbswqviQNztUJJZziERHt2SbZMEFBqxj7wQfQLyg5
NEXT_PUBLIC_MINT_KUSDT=FNEBoyu8SpihwkA5ApDii13MHwK1scKmrGsefXPkC1ru
NEXT_PUBLIC_MINT_KDAI=6EVpJryaSzY29qyJQwWQbMt8AbtBSQrZcMkAdHMMbZMn
NEXT_PUBLIC_MINT_KFRAX=AtKin6p4ecibN42YPBN1gdgBwwU69cWqdWewj7x4tphR
